.header-V {
    background-color: #000000;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    width: 100px;
        flex-direction: column;
        position: relative;
        small{
            color: white;
            rotate: 270deg;
            position: absolute;
                bottom: 100px;
   
    width: 155px;
    left: -40px;
        }
    nav{
        display: flex;
        align-items: center;
        justify-content:space-around;
        width: 100%;
    }
    .img-container{
        display: flex;
        height: 100%;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
        .bloc-img{
            padding: 10px;
            background-color: white;
            border-radius: 5px;
            width: 30px;
            cursor: pointer;
        }
    }
    img{
        width: 100%;
    }
    
    .header a {
        margin: 0 15px;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}
